* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("/images/background1.jpg");
  background-repeat: no-repeat;
  background-size:cover ;
  background-color: grey;
}

header{
  font-family: monospace;
  background-color: rgba(225, 225, 225, 0.6);
  padding: .5em 0;
  text-align: center;
  font-size: 20px;
}


/*Nav Bar*/
ul{
  list-style: none;
  justify-content: space-evenly;
  display: flex;
  text-decoration: none;
  
}

ul li{
  display: inline-block;
  position: relative;
}

ul li a{
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 27px;
}

/* dropdown menu*/
ul li ul.dropdown li{
  display: block;

}
ul li ul.dropdown{
  background-color: rgba(209, 53, 6, 0.664);
  position: absolute;
  z-index: 999;
  display: none;

}

ul li ul.dropdown a:link{
  color:black;
}

ul li:visited ul.dropdown a{
  color: black;
}

ul li:hover ul.dropdown{
  display: block;
  border-radius: 2em;
  color:black;
}

ul li:active ul.dropdown{
  color: black;
}

/*nav bar other*/
.bar:link{
  text-decoration: none;
  color:black;
}

.bar:visited{
  color:black;
}
.bar:hover{
  background-color: rgba(209, 53, 6, 0.664); 
  border-radius: 2em;
  color:black;
}
.bar:active{
  color: black;
} 

/* Main */
main{
  font-size: 25px;
  display: flex;
  flex-direction: column;
  float: right;
}

main.calendar{
  text-align: center;
  
}

.headings{
  margin-right: 100px;
  font-size: 40px;
}



/*Mission Statement*/
.mission{
  text-decoration: none;
  font-family: Monospace;
  padding: 20px 20px;
	border-radius: 2em;
	font-size: 1em;
	background: rgba(225, 225, 225, 0.6);
  width: 600px;
  margin-bottom: 10px;
}



.tocontact{
  display: inline-block;
  font-family: Monospace;
  text-decoration: none;
  color: black;
  padding: 15px 15px;
  border-radius: 1em;
	background: rgba(209, 53, 6, 0.664);
  width: 300px;
  text-align: center;
}


/*Contact us Page*/
.contact{
  margin: 20px;
  width: 45%;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  font-family: Monospace;
  color: black;
  padding: 15px;
	border-radius: 2em;
	font-size: 20px;
	background: rgba(225, 225, 225, 0.6);
}

form{
  align-content: center;
  margin: auto;
}


/*confirmation screen*/
.confirmation {
  text-decoration: none;
  font-family: Monospace;
  padding: 20px 20px;
	border-radius: 2em;
	font-size: 1em;
	background: rgba(225, 225, 225, 0.6);
  width: 600px;
  
}





