/* This style sheet is only for the about us page due to so much css for the slideshow*/




/*Slideshow*/
div{
  padding:30px;

}
/*Next and Previous on Slideshow*/
#prev, #next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 100px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}
#prev{
  left: 0;
  position: fixed;
}

/*position of next button*/
#next {
  right: 0;
  border: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}
