
/*Elissa LaRue Mar 19 2024 */



	 
#outerwrapper {	
	max-width: 70%;
	border-radius: 15%;
	background: rgba(243,205,170, 0.4);
	margin: 20px;
	
}

html{
	border-radius: 15%;
	background-image: url("../images/jewelry.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

header img{
	float: left;
	border-radius: 50%;	
}

header{
	position:relative;
	bottom: 45px;
}

.addrightmargin{
  margin-right: 10%;
}

main{
	font-family:'Times New Roman', Times, serif;
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	background: linear-gradient( #FFFFFF,#F0F9E6);
}

body{
	display: flex;
	justify-content: center;
}

nav ul{
	list-style-type: none;
	font-size: 1.5em;
}

nav{
	float: none;
}

h1{
	font-family:'Pacifico';
	font-size: 4em;
}

@font-face{
	font-family:'Roboto';
	src: url('.../fonts/roboto-black-webfont.woff') format('woff'),
			url('.../fonts/roboto-black-webfont.woff2') format('woff2');
}

h2{
	font-family: 'roboto';
	font-style: italic;
	font-size: 2em;
}

footer{
	font-size: 1em;
	padding-bottom: 10px;
	text-align: center
}