
header{
    color:black;
    ;
}



body {
    background: rgba(210, 223, 250, 0.404);
    color: #333333;
    font-size: 1.25rem;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #6495ED;
}
nav ul:hover{
    color:aliceblue;
}